.home {
  /* background-color: black; */
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home_left {
  background-color: orange;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.home_right {
  background-color: red;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.plan {
  width: 400px;
}

.home_right_title {
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 115px;

  color: #000000;
}

.home_right_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  /* identical to box height */

  color: #000000;
}

.home_right_button {
  width: 250px;
  height: 80px;
  margin: 10vh 0;
  background-color: rgba(39, 108, 211, 0.5);
  color: #ffffff;
  border-color: transparent;
  font-size: 20px;
}

.home_right_button:hover {
  background-color: #ffffff;
  color: rgba(39, 108, 211, 0.5);
  border-color: rgba(39, 108, 211, 0.5);
}

.home_top_about {
  color: gray;
  font-style: normal;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.home_top {
  min-height: 15vh;
  background-color: aqua;
}

.home_botton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 1000px) {
  * {
    /* background-color: blue; */
  }
  .home_botton {
    flex-direction: column;
  }
  .plan {
    width: 85vw;
    margin: 0 10vw;
  }
}
